.paginationButton {
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: orangered;
  color: #fff;
  border: 2px solid black;
  border-radius: 0.25rem;
  cursor: pointer;

  &:disabled {
    background-color: grey;
    opacity: 0.5;
    cursor: not-allowed;
  }
}
